.logo{
  height:10vh;
}
.ml{
  margin-left: auto;


}
.bg{
  background-color:#071E22;
}
.nav-link{
  color:#F8FFF4!important;
}
.boton{
  text-align: center;
    box-shadow:inset 0px 1px 0px 0px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:6px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:2px 2px 0px #333333;
    font-weight: bolder;
}
.boton:hover {
  color: white;
  background:linear-gradient(to bottom, #090C08 5%, #E3170A 100%);
 
}
.navbar-toggler{
  background-color: #D90368!important;
}
.botn:active {
  position:relative;
  top:1px;
}
.contenido{
  background-color: #A37B73
}

h1{display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 15vh;
  text-align: center;
  background-color: #FAFAC6;
}
.maincategoria{
  background-color: #F8FFF4;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.card-body{
  text-align: center;
}
.card-img-top{
padding: 1rem;
}
.tarjetero{
  background-color: #A37B73;
  gap: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#detailed-card {
  background-color: #A37B73;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70vw;
  min-height: fit-content;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  border-radius: 20px;
}
dl{
  font-size: 2vh;
  display: flex;
 flex-direction: column;
 margin: 0!important;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
}

.detailed-img, .detailed-descrip {
  
  
  width: 40vw;
  border-radius: 20px;
}
.detailed-descrip{
  background-color: #FAFAC6;

}
.detailed-img {
  min-height: 60vh;
}

@media (max-width:768px) {
  .detailed-descrip, .detailed-img {
      width: 90vw;
  }
  .detailed-card {
      padding: 0.5rem;
  }
  .detailed-descrip{
      font-size: 12px;
      
  }
}
.card-img-top{
  height: 100%;
}

.finalcarta{
  display: flex;
  justify-content: space-between;
}
footer{
  background-color:  #FAFAC6;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.footer h3{
text-align: center;
font-size: 3rem;

}
.logitos{
  display: flex;
  gap: 2rem;
}
.icono img{
  border-radius: 30px;
  width: 3rem;
  height: 3rem;
  
}
.contenedorcontacto{
  display: flex;
  justify-content: center;
}
.contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
 
}
.col-auto{
  padding: 1rem;
  display: flex;
  justify-content: end;
}
.mainstat{
  display: flex;
  justify-content: center;
  padding: 1rem;
 
}
.divdetabla{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; 
}
.card{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.maindetails{
  background-color: #A37B73;
}
